<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Busar usuario" (keyup)="search(txtTerm.value)" #txtTerm>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-primary text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere...</p>
    </div>
  </div>
</div>
<div *ngIf="!loading" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total de Usuarios ({{ totalUsers }})</h4>
        <h6 class="card-subtitle">Usuariosregistrados en mi aplicación</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th class="w100">Role</th>
                <th class="w100">Auth</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td class="text-center">
                  <img [src]="user.ImageUrl" [alt]="user.name" class="imguserList">
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <!-- <td class="text-center">{{ user.role }}</td> -->
                <td class="text-center w140">
                  <select
                    [(ngModel)]="user.role"
                    (change)="changeRole(user)"
                    [disabled]="roleUser != 'ADMIN_ROLE' || mailUser === user.email"
                    class="form-control text-center"
                    aria-label="Default select example">
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td>
                <td class="text-center">
                  <div *ngIf="user.google" class="label label-table label-danger">Google</div>
                  <div *ngIf="!user.google" class="label label-table label-info">Email</div>
                </td>
                <td class="text-nowrap text-center">
                  <a (click)="editUser(user)" data-toggle="tooltip" data-original-title="Editar">
                    <i class="fa fa-pencil text-inverse"></i>
                  </a>
                  <a (click)="deleteUser(user)" data-toggle="tooltip" data-original-title="Borrar" *ngIf="mailUser != user.email">
                    <i class="fa fa-close text-danger m-l-20"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="!searchActive && totalPages > 1">
          <button (click)="changePage(-5)" class="btn btn-secondary m-2"
            [disabled]="actualPage === 1">Anteriores</button>
          <span>{{ actualPage }} / {{ totalPages }}</span>
          <button (click)="changePage(5)" class="btn btn-secondary m-2"
            [disabled]="actualPage === totalPages">Siguiente</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fondo-modal-user animated fadeIn fast" [hidden]="!showModal" (dblclick)="closeModal()">
  <div *ngIf="userEdit" class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    style="display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Editar Usuario</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()"><span
              aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <form  [formGroup]="editForm">
            <img *ngIf="!imgTemp" [src]="userEdit.ImageUrl" class="img-edit-profile" alt="Avatar">
            <img *ngIf="imgTemp" [src]="imgTemp" class="img-edit-profile" alt="Avatar">
            <div class="mt-4">
              <label for="formFile" class="form-label">Cargar imagn nueva</label>
              <input class="form-control" type="file" id="formFile" (change)="changeImage($event.target.files[0])">
            </div>
            <button
              type="button"
              class="btn btn-info btn-block waves-effect waves-light m-t-10 mt-4 mb-4"
              [disabled]="!imageUpload"
              (click)="uploadImage()"
              ><i class="fa fa-image"></i>Actualizar Imagen</button>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                <input type="text" class="form-control"  formControlName="name"  placeholder="Username">
              </div>
            </div>
            <!-- <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                <input [readOnly]="user.google" type="email" class="form-control" formControlName="email" placeholder="Enter email">
              </div>
            </div> -->
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-flag"></i></div>
                <input type="text" class="form-control"  formControlName="country" placeholder="Enter pais">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                <input type="text" class="form-control"  formControlName="phone" placeholder="Enter teléfono">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                <input type="text" class="form-control" formControlName="age" placeholder="Enter edad">
              </div>
            </div>
            <!-- <div class="form-group">
              <label for="pwd1">Password</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                <input type="password" class="form-control" formControlName="password" placeholder="Enter new passsword">
              </div>
            </div> -->
            <div class="form-group">
              <textarea class="form-control" formControlName="desc" rows="3"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Cerrar</button>
          <button type="button" class="btn btn-info" (click)="save()">Actualizar</button>
        </div>
      </div>
    </div>
  </div>
</div>

