.imguserList{
  width: 40px;
  border-radius: 100%;
}

.w100{
  width: 100px;
}

.w140{
  width: 140px;
}

.fondo-modal-user{
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.img-edit-profile{
  width: 50%;
  margin: 0 25%;
  border-radius: 100%;
}

