<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Busar hospital">
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-primary text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere...</p>
    </div>
  </div>
</div>
<div class="row" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <button type="button" class="btn btn-secondary" (click)="createHospital()">
            <i class="fa fa-hospital-o m-r-20"></i>Crear Hospital</button>
        </div>
        <h4 class="card-title">Hopitales ({{ total }})</h4>
        <h6 class="card-subtitle">Hospitales registrados en mi aplicación</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Foto</th>
                <th>Nombre</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hopitals">
                <td class="text-center">
                  <img [src]="hospital.ImageUrl" [alt]="hospital.name" (click)="updateImage(hospital._id)" class="hospital-image">
                </td>
                <td>
                  <input [(ngModel)]="hospital.name" class="form-control" type="text" placeholder="Nombre">
                </td>
                <td class="text-nowrap text-center">
                  <a (click)="saveChanges(hospital)" data-toggle="tooltip" data-original-title="Editar">
                    <i class="fa fa-save text-inverse m-r-20"></i>
                  </a>
                  <a (click)="deleteHospital(hospital)" data-toggle="tooltip" data-original-title="Borrar">
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="total > 5">
        <button class="btn btn-secondary m-2">Anteriores</button>
        <button class="btn btn-secondary m-2">Siguiente</button>
      </div>
      </div>
    </div>
  </div>
</div>
