.w100{
  width: 100px;
}

.w140{
  width: 140px;
}

td{
  vertical-align: middle;
}

.hospital-image{
  width: 70px;
  border-radius: 8px;
  cursor: pointer;
}

.hospital-image:hover {
  transition: 0.3s;
  opacity: 0.5;
}
